USE [master]
GO
/****** Object:  Database [NEVAYEMEKHANEONLINE]    Script Date: 10/6/2026 1:55:44 PM ******/
CREATE DATABASE [NEVAYEMEKHANEONLINE]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'NEVAYEMEKHANEONLINE', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\NEVAYEMEKHANEONLINE.mdf' , SIZE = 51200KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'NEVAYEMEKHANEONLINE_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\NEVAYEMEKHANEONLINE_log.ldf' , SIZE = 5120KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [NEVAYEMEKHANEONLINE].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [NEVAYEMEKHANEONLINE]
GO
/****** Object:  User [yemekhane]    Script Date: 10/6/2026 1:55:44 PM ******/
CREATE USER [yemekhane] FOR LOGIN [yemekhane] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [WIN-LUTUA4F24I5\Administrator]    Script Date: 10/6/2026 1:55:44 PM ******/
CREATE USER [WIN-LUTUA4F24I5\Administrator] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [yemekhane]
GO
/****** Object:  Table [dbo].[ASKIDABAKIYE]    Script Date: 10/6/2026 1:55:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ASKIDABAKIYE](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[BAKIYE] [decimal](15, 2) NULL,
	[TARIH] [datetime] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DIZAYN]    Script Date: 10/6/2026 1:55:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DIZAYN](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[DIZAYNADI] [nvarchar](100) NULL,
	[SAVETOSTRING] [ntext] NULL,
	[AKTIF] [char](1) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GRUP_TERMINAL_KISIT]    Script Date: 10/6/2026 1:55:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GRUP_TERMINAL_KISIT](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[GRUP_ID] [int] NOT NULL,
	[TERMINAL_ID] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GUN_YUKLEME]    Script Date: 10/6/2026 1:55:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GUN_YUKLEME](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[KISILER_ID] [int] NOT NULL,
	[KARTNOHEX] [char](8) NOT NULL,
	[KARTGRUPID] [int] NULL,
	[ISLEM_TARIHI] [datetime] NULL,
	[TARIH] [datetime] NOT NULL,
	[OGUNID] [int] NOT NULL,
	[YEMEK_DURUM] [int] NOT NULL,
	[YUKLEME_MER_ID] [int] NOT NULL,
	[USER_ID] [int] NOT NULL,
	[ASKIDAN] [int] NULL,
	[YEMEMERKEZID] [int] NULL,
 CONSTRAINT [PK_gun_yukleme] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KART_DURUM]    Script Date: 10/6/2026 1:55:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KART_DURUM](
	[KART_DURUM] [varchar](1) NOT NULL,
	[KART_OZELLIK] [varchar](50) NULL,
 CONSTRAINT [PK_kart_durum] PRIMARY KEY CLUSTERED 
(
	[KART_DURUM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KART_GRUP]    Script Date: 10/6/2026 1:55:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KART_GRUP](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[KART_GRUP_ADI] [varchar](50) NULL,
	[KART_DURUM] [varchar](1) NULL,
	[FIYAT] [decimal](5, 2) NULL,
	[IKINCIFIYAT] [decimal](5, 2) NULL,
	[UCUNCUFIYAT] [decimal](5, 2) NULL,
	[FARKLIMERKEZ] [int] NULL,
	[MISAFIRGECIS] [int] NULL,
	[AKTIF] [int] NULL,
 CONSTRAINT [PK_kart_grup] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KIOSKHAR]    Script Date: 10/6/2026 1:55:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KIOSKHAR](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TARIH] [datetime] NULL,
	[MIKTAR] [decimal](15, 2) NULL,
	[USERID] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KISILER]    Script Date: 10/6/2026 1:55:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KISILER](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TCKIMLIK] [nchar](11) NOT NULL,
	[ADSOYAD] [nvarchar](50) NOT NULL,
	[KARTNOHEX] [nchar](8) NOT NULL,
	[KART_GRUP] [int] NOT NULL,
	[YUKLEME_MERKEZ_ID] [int] NOT NULL,
	[BAKIYE] [decimal](6, 2) NULL,
	[TARIHSAAT] [datetime] NULL,
	[SON_DUSEN_MIKTAR] [decimal](6, 2) NULL,
	[BLOKE] [nchar](1) NULL,
	[AKTIF] [int] NULL,
	[BOLUM] [varchar](50) NOT NULL,
	[SINIF] [int] NOT NULL,
	[ASKIDA_YEMEK] [int] NULL,
 CONSTRAINT [PK_kisiler] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LOG_PARA]    Script Date: 10/6/2026 1:55:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOG_PARA](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[KISILER_ID] [int] NOT NULL,
	[KARTNOHEX] [char](8) NOT NULL,
	[KART_GRUP] [int] NULL,
	[TARIHSAAT] [datetime] NOT NULL,
	[YUKLEME_KULLANIM] [char](1) NULL,
	[KART_ONCEKI_BAKIYE] [decimal](6, 2) NOT NULL,
	[TUTAR] [decimal](6, 2) NOT NULL,
	[KART_SONRAKI_BAKIYE] [decimal](6, 2) NOT NULL,
	[YUKLEME_MER_ID] [int] NOT NULL,
	[USERID] [int] NOT NULL,
 CONSTRAINT [PK_para_yukleme] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LOG_TERMINAL]    Script Date: 10/6/2026 1:55:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOG_TERMINAL](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[KARTNOHEX] [char](8) NOT NULL,
	[DURUM] [char](1) NOT NULL,
	[KARTGRUPID] [int] NULL,
	[TARIH] [smalldatetime] NOT NULL,
	[SAAT] [nvarchar](8) NOT NULL,
	[TERMINAL_ID] [int] NOT NULL,
	[YUKLEME_MERKEZ_ID] [int] NOT NULL,
	[DUSEN_MIKTAR] [decimal](5, 2) NULL,
	[KALAN_BAKIYE] [decimal](5, 2) NULL,
 CONSTRAINT [PK_LOGM] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LOG_WEBSERVIS]    Script Date: 10/6/2026 1:55:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOG_WEBSERVIS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ISLEMTARIH] [datetime] NULL,
	[KISI_ID] [int] NULL,
	[TUTAR] [varchar](10) NULL,
	[GUNLER] [text] NULL,
	[YUKLEME_TIPI] [varchar](1) NULL,
	[KK_PROVIZYON_NO] [varchar](50) NULL,
 CONSTRAINT [PK_LOG_WEBSERVIS] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OGUN]    Script Date: 10/6/2026 1:55:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OGUN](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[OGUN] [nvarchar](50) NOT NULL,
	[BASSAAT] [time](7) NULL,
	[BITSAAT] [time](7) NULL,
	[AKTIF] [int] NULL,
 CONSTRAINT [PK_OGUN] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PARAMETRE]    Script Date: 10/6/2026 1:55:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PARAMETRE](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[MAXGUN] [int] NULL,
	[MINGUN] [int] NULL,
	[MAXPARA] [int] NULL,
	[MINPARA] [int] NULL,
	[MENUGUNAKTIF] [int] NULL,
	[MENUPARAAKTIF] [int] NULL,
	[TCNOCONTROL] [int] NULL,
	[PAZARTESI] [int] NULL,
	[SALI] [int] NULL,
	[CARSAMBA] [int] NULL,
	[PERSEMBE] [int] NULL,
	[CUMA] [int] NULL,
	[CUMARTESI] [int] NULL,
	[PAZAR] [int] NULL,
	[OTOMATMINGUN] [int] NULL,
	[OTOMATMAXPARA] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TARIHKISIT]    Script Date: 10/6/2026 1:55:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TARIHKISIT](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TARIH] [datetime] NULL,
	[ACIKLAMA] [varchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBLMESSAGEHAR]    Script Date: 10/6/2026 1:55:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBLMESSAGEHAR](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[MESSAGEHEADER] [nvarchar](max) NULL,
	[MESSAGE] [nvarchar](max) NULL,
	[STARTDATE] [datetime] NULL,
	[ENDDATE] [datetime] NULL,
	[AKTIF] [char](1) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TERMINALLER]    Script Date: 10/6/2026 1:55:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TERMINALLER](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[CIHAZ_MAC] [varchar](30) NOT NULL,
	[CIHAZ_IP] [varchar](50) NOT NULL,
	[PORT] [int] NOT NULL,
	[YUKLEME_MERKEZ_ID] [int] NOT NULL,
	[SERVIS_BEDELI] [decimal](5, 2) NULL,
	[BAKIYE_GOR] [char](1) NULL,
	[AKTIF] [int] NULL,
	[SADECE_SERVIS_BEDELI] [char](1) NULL,
	[SON_KULLANIM_TARIHI] [datetime] NULL,
	[SON_TUTULAN_KART] [varchar](14) NULL,
	[LK] [varchar](250) NULL,
	[OGUNID] [int] NULL,
 CONSTRAINT [PK_terminaller] PRIMARY KEY CLUSTERED 
(
	[CIHAZ_MAC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TESTKARTLIST]    Script Date: 10/6/2026 1:55:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TESTKARTLIST](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[KARTNOHEX] [char](8) NULL,
	[MERKEZID] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USERS]    Script Date: 10/6/2026 1:55:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USERS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ADSOYAD] [varchar](50) NULL,
	[KULLANICIADI] [varchar](30) NULL,
	[SIFRE] [varchar](30) NULL,
	[KARTNOHEX] [char](8) NULL,
	[MACADRES] [varchar](18) NULL,
	[YUKLEME_MER_ID] [int] NULL,
	[AKTIF] [int] NULL,
	[ADMIN] [int] NULL,
	[TIP] [varchar](50) NULL,
 CONSTRAINT [PK_user] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[YUKLEME_MERKEZ]    Script Date: 10/6/2026 1:55:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[YUKLEME_MERKEZ](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ADI] [varchar](100) NULL,
	[SORUMLU] [varchar](50) NULL,
	[TELEFON] [varchar](15) NULL,
	[AKTIF] [int] NULL,
	[INTERNETTEN_YUKLEME] [int] NULL,
 CONSTRAINT [PK_yukleme_merkez] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [INX_gun_yukleme_KARTNO_TARIH]    Script Date: 10/6/2026 1:55:44 PM ******/
CREATE NONCLUSTERED INDEX [INX_gun_yukleme_KARTNO_TARIH] ON [dbo].[GUN_YUKLEME]
(
	[KARTNOHEX] ASC,
	[TARIH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_KISILER]    Script Date: 10/6/2026 1:55:44 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_KISILER] ON [dbo].[KISILER]
(
	[KARTNOHEX] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[GUN_YUKLEME] ADD  CONSTRAINT [DF_GUN_YUKLEME_ISLEM_TARIHI]  DEFAULT (getdate()) FOR [ISLEM_TARIHI]
GO
ALTER TABLE [dbo].[GUN_YUKLEME] ADD  CONSTRAINT [DF_GUN_YUKLEME_YEMEMERKEZID]  DEFAULT ((0)) FOR [YEMEMERKEZID]
GO
ALTER TABLE [dbo].[KISILER] ADD  CONSTRAINT [DF_KISILER_SINIF]  DEFAULT ((0)) FOR [SINIF]
GO
ALTER TABLE [dbo].[KISILER] ADD  CONSTRAINT [DF_KISILER_ASKIDA_YEMEK]  DEFAULT ((1)) FOR [ASKIDA_YEMEK]
GO
ALTER TABLE [dbo].[LOG_WEBSERVIS] ADD  CONSTRAINT [DF_LOG_WEBSERVIS_ISLEMTARIH]  DEFAULT (getdate()) FOR [ISLEMTARIH]
GO
ALTER TABLE [dbo].[TERMINALLER] ADD  CONSTRAINT [DF_TERMINALLER_SADECE_SERVIS_BEDELI]  DEFAULT ('H') FOR [SADECE_SERVIS_BEDELI]
GO
ALTER TABLE [dbo].[USERS] ADD  CONSTRAINT [DF_USERS_TIP]  DEFAULT ('PERSONEL') FOR [TIP]
GO
ALTER TABLE [dbo].[YUKLEME_MERKEZ] ADD  CONSTRAINT [DF_YUKLEME_MERKEZ_INTERNETTEN_YUKLEME]  DEFAULT ((1)) FOR [INTERNETTEN_YUKLEME]
GO
ALTER TABLE [dbo].[GUN_YUKLEME]  WITH CHECK ADD  CONSTRAINT [FK_gun_yukleme_kisiler] FOREIGN KEY([KISILER_ID])
REFERENCES [dbo].[KISILER] ([ID])
GO
ALTER TABLE [dbo].[GUN_YUKLEME] CHECK CONSTRAINT [FK_gun_yukleme_kisiler]
GO
ALTER TABLE [dbo].[GUN_YUKLEME]  WITH CHECK ADD  CONSTRAINT [FK_gun_yukleme_user] FOREIGN KEY([USER_ID])
REFERENCES [dbo].[USERS] ([ID])
GO
ALTER TABLE [dbo].[GUN_YUKLEME] CHECK CONSTRAINT [FK_gun_yukleme_user]
GO
ALTER TABLE [dbo].[GUN_YUKLEME]  WITH CHECK ADD  CONSTRAINT [FK_gun_yukleme_yukleme_merkez] FOREIGN KEY([YUKLEME_MER_ID])
REFERENCES [dbo].[YUKLEME_MERKEZ] ([ID])
GO
ALTER TABLE [dbo].[GUN_YUKLEME] CHECK CONSTRAINT [FK_gun_yukleme_yukleme_merkez]
GO
ALTER TABLE [dbo].[KART_GRUP]  WITH CHECK ADD  CONSTRAINT [FK_kart_grup_kart_durum] FOREIGN KEY([KART_DURUM])
REFERENCES [dbo].[KART_DURUM] ([KART_DURUM])
GO
ALTER TABLE [dbo].[KART_GRUP] CHECK CONSTRAINT [FK_kart_grup_kart_durum]
GO
ALTER TABLE [dbo].[KISILER]  WITH CHECK ADD  CONSTRAINT [FK_kisiler_kart_grup] FOREIGN KEY([KART_GRUP])
REFERENCES [dbo].[KART_GRUP] ([ID])
GO
ALTER TABLE [dbo].[KISILER] CHECK CONSTRAINT [FK_kisiler_kart_grup]
GO
ALTER TABLE [dbo].[KISILER]  WITH CHECK ADD  CONSTRAINT [FK_kisiler_yukleme_merkez] FOREIGN KEY([YUKLEME_MERKEZ_ID])
REFERENCES [dbo].[YUKLEME_MERKEZ] ([ID])
GO
ALTER TABLE [dbo].[KISILER] CHECK CONSTRAINT [FK_kisiler_yukleme_merkez]
GO
ALTER TABLE [dbo].[LOG_PARA]  WITH CHECK ADD  CONSTRAINT [FK_para_yukleme_kart_grup] FOREIGN KEY([KART_GRUP])
REFERENCES [dbo].[KART_GRUP] ([ID])
GO
ALTER TABLE [dbo].[LOG_PARA] CHECK CONSTRAINT [FK_para_yukleme_kart_grup]
GO
ALTER TABLE [dbo].[LOG_PARA]  WITH CHECK ADD  CONSTRAINT [FK_para_yukleme_kisiler] FOREIGN KEY([KISILER_ID])
REFERENCES [dbo].[KISILER] ([ID])
GO
ALTER TABLE [dbo].[LOG_PARA] CHECK CONSTRAINT [FK_para_yukleme_kisiler]
GO
ALTER TABLE [dbo].[LOG_PARA]  WITH CHECK ADD  CONSTRAINT [FK_para_yukleme_user] FOREIGN KEY([USERID])
REFERENCES [dbo].[USERS] ([ID])
GO
ALTER TABLE [dbo].[LOG_PARA] CHECK CONSTRAINT [FK_para_yukleme_user]
GO
ALTER TABLE [dbo].[LOG_PARA]  WITH CHECK ADD  CONSTRAINT [FK_para_yukleme_yukleme_merkez] FOREIGN KEY([YUKLEME_MER_ID])
REFERENCES [dbo].[YUKLEME_MERKEZ] ([ID])
GO
ALTER TABLE [dbo].[LOG_PARA] CHECK CONSTRAINT [FK_para_yukleme_yukleme_merkez]
GO
ALTER TABLE [dbo].[USERS]  WITH CHECK ADD  CONSTRAINT [FK_user_yukleme_merkez] FOREIGN KEY([YUKLEME_MER_ID])
REFERENCES [dbo].[YUKLEME_MERKEZ] ([ID])
GO
ALTER TABLE [dbo].[USERS] CHECK CONSTRAINT [FK_user_yukleme_merkez]
GO
ALTER TABLE [dbo].[KISILER]  WITH CHECK ADD  CONSTRAINT [CK_kisiler] CHECK  ((len([TCKIMLIK])=(11)))
GO
ALTER TABLE [dbo].[KISILER] CHECK CONSTRAINT [CK_kisiler]
GO
USE [master]
GO
